@media screen and ( max-width: 1360px) {
.side_bar{
	  

}
.home h1{
	font-size: 2em;
}
.header-wrap{
margin-left: 45px;

width: 95%;
left:0;
right:0;
top:0;
bottom: 0;
}
.container-search{
	width:45%!important;
}
.img img{
	display: none;
}
.img{
	
}
.navbar{
	margin-left:0%;
}
.marg {
     margin-left: 0px!important; 
}

.account{
	flex-direction: column;
	width: 30%!important;
	margin-right: 45px;
}
.account a{
	padding-top:5px;
}
.akk{
	width:90%;
	height:30px!important;
	font-size: 13px!important;
	margin-bottom:5px;

}
.menu a{
	font-size: 28px!important;
}
#status{
	font-size: 28px!important;
}
@media screen and ( max-width: 1220px) {

}
}
@media screen and ( max-width: 1024px) {
	.main_content{
	width: 100%;
	    margin-left: 0%;
}
.bigger{
	width:100%!important;
}
	th, td{
		font-size:20px;
	}
.side_bar{
	    width: 99%;
	    font-size: 20px;
	    display: block;

}
.akk{
	width:90%;
	height:30px!important;
	font-size: 12px!important;
	margin-bottom:5px;
	
}

#side-menu-icon{
	position: fixed;
	top: 0px;
	left: 10px;
	height: 40px;
	width: 40px;
	z-index: 120;
}
#menu {
  cursor: pointer;
  padding: 22px 35px 16px 0px;
}

#menu span, #menu span:before, #menu span:after {
  cursor: pointer;
  z-index: 200;
  height: 2px;
  width: 35px;
  background: #0069d9;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menu span:before {
  -webkit-animation: undo-top .5s forwards;
          animation: undo-top .5s forwards;
}

#menu span:after {
  bottom: -10px;
  -webkit-animation: undo-bottom .5s;
          animation: undo-bottom .5s;
}

#menu.active span {
  background-color: transparent;
}

#menu.active span:before {
  top: 0;
}

#menu.active span:before {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: top-x .5s forwards;
          animation: top-x .5s forwards;
}

#menu.active span:after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: bottom-x .5s forwards;
          animation: bottom-x .5s forwards;
}

@-webkit-keyframes top-x {
  0% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  50% { -webkit-transform: translateY(0px) rotate(0); transform: translateY(0px) rotate(0); }
  100% { -webkit-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); }
}

@keyframes top-x {
  0% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  50% { -webkit-transform: translateY(0px) rotate(0); transform: translateY(0px) rotate(0); }
  100% { -webkit-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); }
}

@-webkit-keyframes bottom-x {
  0% { transfrom: translateY(0) rotate(0); }
  50% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  100% { -webkit-transform: translateY(-10px) rotate(-45deg); transform: translateY(-10px) rotate(-45deg); }
}

@keyframes bottom-x {
  0% { transfrom: translateY(0) rotate(0); }
  50% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  100% { -webkit-transform: translateY(-10px) rotate(-45deg); transform: translateY(-10px) rotate(-45deg); }
}

@-webkit-keyframes undo-top {
  0% { -webkit-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); }
  50% { -webkit-transform: translateY(0px) rotate(0); transform: translateY(0px) rotate(0); }
  100% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
}

@keyframes undo-top {
  0% { -webkit-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); }
  50% { -webkit-transform: translateY(0px) rotate(0); transform: translateY(0px) rotate(0); }
  100% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
}

@-webkit-keyframes undo-bottom {

  0% { -webkit-transform: translateY(-10px) rotate(-45deg); transform: translateY(-10px) rotate(-45deg); }
  50% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  100% { transfrom: translateY(0px) rotate(0); }
}

@keyframes undo-bottom {

  0% { -webkit-transform: translateY(-10px) rotate(-45deg); transform: translateY(-10px) rotate(-45deg); }
  50% { -webkit-transform: translateY(-10px) rotate(0); transform: translateY(-10px) rotate(0); }
  100% { transfrom: translateY(0px) rotate(0); }
}

#side-menu{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	background-color: #222;
	z-index: 110;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
	transform: translate(-610px,0px);
	transition: 0.3s ease-in-out;
}
#side-menu.active{
	transform: translate(0px,0px);
	transition: 0.3s ease-in-out;
}

#overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 105;
	display: none;
	transition: 0.3 ease-in-out;
}
#overlay.active{
	display: block;
	transition: 0.3 ease-in-out;
}
}
@media screen and ( max-width: 850px) {
.account{
	width: 17%;
}
.akk{
	width:90%;
	height:30px!important;
	font-size: 12px!important;
	margin-bottom:5px;
	
}

}


@media screen and ( max-width: 500px) {
	.account:last-child a{
		font-size:8px!important;
		padding-top:6px;
	}

}
@media screen and ( max-width: 368px) {
.card-body a{
	font-size: 20px!important;
}

}